@import "colors";
nav{
    width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: $dark;
  z-index: 10;
  color: white;
    color: white;
    > h3{
        text-transform: uppercase;
        //text-transform: uppercase;
        flex-grow: 1;
        text-align: center;
    }
}